/* 放置根结点节点样式 */
* {
  scroll-behavior: smooth;
  transition: 0.6s ease-in-out;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  --gray: #888;
  --ms-green: #7cbb00;
  --ms-brown: #ffa050;
  --ms-black: #000;
  --ms-white: #fff;
  --navi-height: 5vh;
  --navi-margin-bottom: 2px;
  --mask-color-light: rgba(128, 128, 128, 0.3);
}

body {
  margin: 0;
  padding: 0;
  /* min-width: 1440px; */
}

#app {
  overflow: hidden;
}