/* 放置根结点节点样式 */
:root {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  --ms-green: #7cbb00;
  --ms-brown: #ffa050;
  --ms-black: #000;
  --ms-white: #fff;
  --navi-height: 5vh;
  --mask-color-light: rgba(128, 128, 128, 0.3);
}

body{
  margin: 0;
  padding: 0;
  /* min-width: 1440px; */
}

#app{
  overflow: hidden;
}